body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
    color: #4d213a;
    background-color: #fdfdfe;
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    background-color: transparent;
    border-style: hidden;
}

img {
    border-radius: 10px;
    border-style: solid;
    border-color: #B594B1;
}

img:hover {
    box-shadow: 5px 10px #4d213a;
    border-color: #4d213a;
}

@media only screen and (max-width: 760px) {
    .buttons {
      flex-direction: column;
    }
}

h1 {
    font-size: 70px;
    text-shadow: 3px 1px #B594B1;
}

p {
    font-size: xx-large;
    font-weight: bold;
}