body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 15px;
}

.buttons {
    display: flex;
    gap: 15px;
}

button {
    padding: 3px 30px;
}